header {  
background-color:lightblue;
color:black;
text-align: start;
text-align:end; 
color: black; 
} 
body {
background-color: lightgoldenrodyellow;
color: black} 
v:link {color: rebeccapurple}
nav { display: block; color: black; border: dotted; } 
h1 {
} 
h2 { 
} 
ul {
}
